<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Edit - Bible Quiz IPC Ebenezar Kalyan</title>
    </head>
    <body>
        <h1 style = "font-size: 20px; padding-left: 2%;">Please click on the answers and then click on the submit button.</h1>
        <div class="container-fluid" style = "padding-left: 2%; padding-top: 2%; border-bottom-left-radius: 1%; background-blend-mode: darken;">
        <form action="/updatequestions" method="post">
            <fieldset>
                Question 1 in English: <input type="text" name="Q1E"><br><br>
                Question 1 in Malayalam: <input type="text" name="Q1M"><br><br>
                <!-- english options -->
                Option 1.A in English: <input type="text" name="EA1"><br><br>
                Option 1.B in English: <input type="text" name="EB1"><br><br>
                Option 1.C in English: <input type="text" name="EC1"><br><br>
                Option 1.D in English: <input type="text" name="ED1"><br><br>
                 <!-- malayalam options -->
                 Option 1.A in Malayalam: <input type="text" name="MA1"><br><br>
                 Option 1.B in Malayalam: <input type="text" name="MB1"><br><br>
                 Option 1.C in Malayalam: <input type="text" name="MC1"><br><br>
                 Option 1.D in Malayalam: <input type="text" name="MD1"><br><br>
            </fieldset>
            <fieldset>
                Question 2 in English: <input type="text" name="Q2E"><br><br>
                Question 2 in Malayalam: <input type="text" name="Q2M"><br><br>
                <!-- english options -->
                Option 2.A in English: <input type="text" name="EA2"><br><br>
                Option 2.B in English: <input type="text" name="EB2"><br><br>
                Option 2.C in English: <input type="text" name="EC2"><br><br>
                Option 2.D in English: <input type="text" name="ED2"><br><br>
                 <!-- malayalam options -->
                 Option 2.A in Malayalam: <input type="text" name="MA2"><br><br>
                 Option 2.B in Malayalam: <input type="text" name="MB2"><br><br>
                 Option 2.C in Malayalam: <input type="text" name="MC2"><br><br>
                 Option 2.D in Malayalam: <input type="text" name="MD2"><br><br>
            </fieldset>
            <fieldset>
                Question 3 in English: <input type="text" name="Q3E"><br><br>
                Question 3 in Malayalam: <input type="text" name="Q3M"><br><br>
                 <!-- english options -->
                 Option 3.A in English: <input type="text" name="EA3"><br><br>
                 Option 3.B in English: <input type="text" name="EB3"><br><br>
                 Option 3.C in English: <input type="text" name="EC3"><br><br>
                 Option 3.D in English: <input type="text" name="ED3"><br><br>
                  <!-- malayalam options -->
                  Option 3.A in Malayalam: <input type="text" name="MA3"><br><br>
                  Option 3.B in Malayalam: <input type="text" name="MB3"><br><br>
                  Option 3.C in Malayalam: <input type="text" name="MC3"><br><br>
                  Option 3.D in Malayalam: <input type="text" name="MD3"><br><br>
            </fieldset>
            <fieldset>
                Question 4 in English: <input type="text" name="Q4E"><br><br>
                Question 4 in Malayalam: <input type="text" name="Q4M"><br><br>
                <!-- english options -->
                Option 4.A in English: <input type="text" name="EA4"><br><br>
                Option 4.B in English: <input type="text" name="EB4"><br><br>
                Option 4.C in English: <input type="text" name="EC4"><br><br>
                Option 4.D in English: <input type="text" name="ED4"><br><br>
                 <!-- malayalam options -->
                 Option 4.A in Malayalam: <input type="text" name="MA4"><br><br>
                 Option 4.B in Malayalam: <input type="text" name="MB4"><br><br>
                 Option 4.C in Malayalam: <input type="text" name="MC4"><br><br>
                 Option 4.D in Malayalam: <input type="text" name="MD4"><br><br>
            </fieldset>
            <fieldset>
                Question 5 in English: <input type="text" name="Q5E"><br><br>
                Question 5 in Malayalam: <input type="text" name="Q5M"><br><br>
                 <!-- english options -->
                 Option 5.A in English: <input type="text" name="EA5"><br><br>
                 Option 5.B in English: <input type="text" name="EB5"><br><br>
                 Option 5.C in English: <input type="text" name="EC5"><br><br>
                 Option 5.D in English: <input type="text" name="ED5"><br><br>
                  <!-- malayalam options -->
                  Option 5.A in Malayalam: <input type="text" name="MA5"><br><br>
                  Option 5.B in Malayalam: <input type="text" name="MB5"><br><br>
                  Option 5.C in Malayalam: <input type="text" name="MC5"><br><br>
                  Option 5.D in Malayalam: <input type="text" name="MD5"><br><br>
            </fieldset>
            <fieldset>
                Question 6 in English: <input type="text" name="Q6E"><br><br>
                Question 6 in Malayalam: <input type="text" name="Q6M"><br><br>
                     <!-- english options -->
                 Option 6.A in English: <input type="text" name="EA6"><br><br>
                 Option 6.B in English: <input type="text" name="EB6"><br><br>
                 Option 6.C in English: <input type="text" name="EC6"><br><br>
                 Option 6.D in English: <input type="text" name="ED6"><br><br>
                  <!-- malayalam options -->
                  Option 6.A in Malayalam: <input type="text" name="MA6"><br><br>
                  Option 6.B in Malayalam: <input type="text" name="MB6"><br><br>
                  Option 6.C in Malayalam: <input type="text" name="MC6"><br><br>
                  Option 6.D in Malayalam: <input type="text" name="MD6"><br><br>
            </fieldset>
            <fieldset>
                Question 7 in English: <input type="text" name="Q7E"><br><br>
                Question 7 in Malayalam: <input type="text" name="Q7M"><br><br>
                 <!-- english options -->
                 Option 7.A in English: <input type="text" name="EA7"><br><br>
                 Option 7.B in English: <input type="text" name="EB7"><br><br>
                 Option 7.C in English: <input type="text" name="EC7"><br><br>
                 Option 7.D in English: <input type="text" name="ED7"><br><br>
                  <!-- malayalam options -->
                  Option 7.A in Malayalam: <input type="text" name="MA7"><br><br>
                  Option 7.B in Malayalam: <input type="text" name="MB7"><br><br>
                  Option 7.C in Malayalam: <input type="text" name="MC7"><br><br>
                  Option 7.D in Malayalam: <input type="text" name="MD7"><br><br>
            </fieldset>
            <fieldset>
                Question 8 in English: <input type="text" name="Q8E"><br><br>
                Question 8 in Malayalam: <input type="text" name="Q8M"><br><br>
                 <!-- english options -->
                 Option 8.A in English: <input type="text" name="EA8"><br><br>
                 Option 8.B in English: <input type="text" name="EB8"><br><br>
                 Option 8.C in English: <input type="text" name="EC8"><br><br>
                 Option 8.D in English: <input type="text" name="ED8"><br><br>
                  <!-- malayalam options -->
                  Option 8.A in Malayalam: <input type="text" name="MA8"><br><br>
                  Option 8.B in Malayalam: <input type="text" name="MB8"><br><br>
                  Option 8.C in Malayalam: <input type="text" name="MC8"><br><br>
                  Option 8.D in Malayalam: <input type="text" name="MD8"><br><br>
            </fieldset>
            <fieldset>
                Question 9 in English: <input type="text" name="Q9E"><br><br>
                Question 19 in Malayalam: <input type="text" name="Q9M"><br><br>
                 <!-- english options -->
                Option 9.A in English: <input type="text" name="EA9"><br><br>
                Option 9.B in English: <input type="text" name="EB9"><br><br>
                Option 9.C in English: <input type="text" name="EC9"><br><br>
                Option 9.D in English: <input type="text" name="ED9"><br><br>
                 <!-- malayalam options -->
                 Option 9.A in Malayalam: <input type="text" name="MA9"><br><br>
                 Option 9.B in Malayalam: <input type="text" name="MB9"><br><br>
                 Option 9.C in Malayalam: <input type="text" name="MC9"><br><br>
                 Option 9.D in Malayalam: <input type="text" name="MD9"><br><br>
            </fieldset>
            <fieldset>
                Question 10 in English: <input type="text" name="Q10E"><br><br>
                Question 10 in Malayalam: <input type="text" name="Q10M"><br><br>
                 <!-- english options -->
                 Option 10.A in English: <input type="text" name="EA10"><br><br>
                 Option 10.B in English: <input type="text" name="EB10"><br><br>
                 Option 10.C in English: <input type="text" name="EC10"><br><br>
                 Option 10.D in English: <input type="text" name="ED10"><br><br>
                  <!-- malayalam options -->
                  Option 10.A in Malayalam: <input type="text" name="MA10"><br><br>
                  Option 10.B in Malayalam: <input type="text" name="MB10"><br><br>
                  Option 10.C in Malayalam: <input type="text" name="MC10"><br><br>
                  Option 10.D in Malayalam: <input type="text" name="MD10"><br><br>
            </fieldset>
            <fieldset>
                Answer to Question 1 : <input type="text" name="QA1"><br><br>
                Answer to Question 2 : <input type="text" name="QA2"><br><br>
                Answer to Question 3 : <input type="text" name="QA3"><br><br>
                Answer to Question 4 : <input type="text" name="QA4"><br><br>
                Answer to Question 5 : <input type="text" name="QA5"><br><br>
                Answer to Question 6 : <input type="text" name="QA6"><br><br>
                Answer to Question 7 : <input type="text" name="QA7"><br><br>
                Answer to Question 8 : <input type="text" name="QA8"><br><br>
                Answer to Question 9 : <input type="text" name="QA9"><br><br>
                Answer to Question 10 : <input type="text" name="QA10"><br><br>
            </fieldset>
        <input type="submit" name="Submit" value="submit";>
        </form>
    </div>
    </body>
</html>