<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>English Questions - Bible Quiz IPC Ebenezar Kalyan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body style="background:linear-gradient(to left,   
    #5aecff 50%,
    #d9e1e6 0%,
    #b1e1f1 50%,
    #33ccff 100%);">
        <div style= "padding-top: 1%;">
        <h1 style = "font-size: 20px; padding-left: 2%;">Please click on the answers and then click on the submit button.</h1>
         </div>
        <div class="container-fluid" style = "padding-left: 2%; padding-top: 2%; border-bottom-left-radius: 1%; background-color:lightgoldenrodyellow">
        <form action="/submit" method="post">
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q1e}}</legend>
            <div>
                <input type="radio" name="Q1" id="Q1-A" value={{.Ea1}}>
                <label for="Q1-A">A) {{.Ea1}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q1" id="Q1-B" value={{.Eb1}}>
                <label for="Q1-B">B) {{.Eb1}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q1" id="Q1-C" value={{.Ec1}}>
                <label for="Q1-C">C) {{.Ec1}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q1" id="Q1-D" value={{.Ed1}}>
                <label for="Q1-D">D) {{.Ed1}}</label>

            </div>
        </fieldset>
        <br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q2e}}</legend>
            <div>
                <input type="radio" name="Q2" id="Q2-A" value={{.Ea2}}>
                <label for="Q2-A">A) {{.Ea2}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q2" id="Q2-B" value={{.Eb2}}>
                <label for="Q2-B">B) {{.Eb2}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q2" id="Q2-C" value={{.Ec2}}>
                <label for="Q2-C">C) {{.Ec2}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q2" id="Q2-D" value={{.Ed2}}>
                <label for="Q2-D">D) {{.Ed2}}</label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q3e}}</legend>
            <div>
                <input type="radio" name="Q3" id="Q3-A" value={{.Ea3}}>
                <label for="Q3-A">A) {{.Ea3}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q3" id="Q3-B" value={{.Eb3}}>
                <label for="Q3-B">B) {{.Eb3}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q3" id="Q3-C" value={{.Ec3}}>
                <label for="Q3-C">B) {{.Ec3}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q3" id="Q3-D" value={{.Ed3}}>
                <label for="Q3-D">D) {{.Ed3}}</label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q4e}}</legend>
            <div>
                <input type="radio" name="Q4" id="Q4-A" value={{.Ea4}}>
                <label for="Q4-A">A) {{.Ea4}}  </label>
            </div>
            
            <div>
                <input type="radio" name="Q4" id="Q4-B" value={{.Eb4}}>
                <label for="Q4-B">B) {{.Eb4}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q4" id="Q4-C" value={{.Ec4}}>
                <label for="Q4-C">C) {{.Ec4}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q4" id="Q4-D" value={{.Ed4}}>
                <label for="Q4-D">D) {{.Ed4}} </label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q5e}}</legend>
            <div>
                <input type="radio" name="Q5" id="Q5-A" value={{.Ea5}}>
                <label for="Q5-A">A) {{.Ea5}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q5" id="Q5-B" value={{.Eb5}}>
                <label for="Q5-B">B) {{.Eb5}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q5" id="Q5-C" value={{.Ec5}}>
                <label for="Q5-C">C) {{.Ec5}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q5" id="Q5-D" value={{.Ed5}}>
                <label for="Q5-D">D) {{.Ed5}}</label>

            </div>
        </fieldset>
		<br>
        <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q6e}}</legend>
            <div>
                <input type="radio" name="Q6" id="Q6-A" value={{.Ea6}}>
                <label for="Q6-A">A) {{.Ea6}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q6" id="Q6-B" value={{.Eb6}}>
                <label for="Q6-B">B) {{.Eb6}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q6" id="Q6-C" value={{.Ec6}}>
                <label for="Q6-C">C) {{.Ec6}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q6" id="Q6-D" value={{.Ed6}}>
                <label for="Q6-D">D) {{.Ed6}}</label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q7e}}</legend>
            <div>
                <input type="radio" name="Q7" id="Q7-A" value={{.Ea7}}>
                <label for="Q7-A">A) {{.Ea7}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q7" id="Q7-B" value={{.Eb7}}>
                <label for="Q7-B">B) {{.Eb7}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q7" id="Q7-C" value={{.Ec7}}>
                <label for="Q7-C">C) {{.Ec7}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q7" id="Q7-D" value={{.Ed7}}>
                <label for="Q7-D">D) {{.Ed7}}</label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q8e}}</legend>
            <div>
                <input type="radio" name="Q8" id="Q8-A" value={{.Ea8}}>
                <label for="Q8-A">A) {{.Ea8}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q8" id="Q8-B" value={{.Eb8}}>
                <label for="Q8-B">B) {{.Eb8}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q8" id="Q8-C" value={{.Ec8}}>
                <label for="Q8-C">C) {{.Ec8}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q8" id="Q8-D" value={{.Ed8}}>
                <label for="Q8-D">D) {{.Ed8}}</label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q9e}}</legend>
            <div>
                <input type="radio" name="Q9" id="Q9-A" value={{.Ea9}}>
                <label for="Q9-A">A) {{.Ea9}}  </label>
            </div>
            
            <div>
                <input type="radio" name="Q9" id="Q9-B" value={{.Eb9}}>
                <label for="Q9-B">B) {{.Eb9}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q9" id="Q9-C" value={{.Ec9}}>
                <label for="Q9-C">C) {{.Ec9}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q9" id="Q9-D" value={{.Ed9}}>
                <label for="Q9-D">D) {{.Ed9}}  </label>

            </div>
        </fieldset>
		<br>
		<fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q10e}}</legend>
            <div>
                <input type="radio" name="Q10" id="Q10-A" value={{.Ea10}}>
                <label for="Q10-A">A) {{.Ea10}} </label>
            </div>
            
            <div>
                <input type="radio" name="Q10" id="Q10-B" value={{.Eb10}}>
                <label for="Q10-B">B) {{.Eb10}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q10" id="Q10-C" value={{.Ec10}}>
                <label for="Q10-C">C) {{.Ec10}}</label>
            </div>
            
            <div>
                <input type="radio" name="Q10" id="Q10-D" value={{.Ed10}}>
                <label for="Q10-D">D) {{.Ed10}}</label>

            </div>
        </fieldset>
		<br>
        <input type="submit" name="Submit" value="submit";>
        </form>
    </div>
    </body>
</html>