<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malayalam Questions - Bible Quiz IPC Ebenezar Kalyan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body style="background:linear-gradient(to left,   
    #5aecff 50%,
    #d9e1e6 0%,
    #b1e1f1 50%,
    #33ccff 100%);">
        <div style="padding-top: 1%;">
        <h1 style = "font-size: 20px; padding-left: 2%;">ഉത്തരങ്ങളിൽ ക്ലിക്കുചെയ്യുക, തുടർന്ന് താഴെയുള്ള submit ബട്ടണിൽ ക്ലിക്കുചെയ്യുക.</h1>
         </div>
         <div class="container-fluid" style = "padding-left: 2%; padding-top: 2%; border-bottom-left-radius: 1%; background-color:lightgoldenrodyellow">
        <form action="/submit" method="post">
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q1m}}</legend>
                <div>
                    <input type="radio" name="Q1" id="Q1-A" value={{.Ea1}}>
                    <label for="Q1-A">A) {{.Ma1}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q1" id="Q1-B" value={{.Eb1}}>
                    <label for="Q1-B">B) {{.Mb1}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q1" id="Q1-C" value={{.Ec1}}>
                    <label for="Q1-C">C) {{.Mc1}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q1" id="Q1-D" value={{.Ed1}}>
                    <label for="Q1-D">D) {{.Md1}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q2m}}</legend>
                <div>
                    <input type="radio" name="Q2" id="Q2-A" value={{.Ea2}}>
                    <label for="Q2-A">A) {{.Ma2}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q2" id="Q2-B" value={{.Eb2}}>
                    <label for="Q2-B">B) {{.Mb2}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q2" id="Q2-C" value={{.Ec2}}>
                    <label for="Q2-C">C) {{.Mc2}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q2" id="Q2-D" value={{.Ed2}}>
                    <label for="Q2-D">D) {{.Md2}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q3m}}</legend>
                <div>
                    <input type="radio" name="Q3" id="Q3-A" value={{.Ea3}}>
                    <label for="Q3-A">A) {{.Ma3}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q3" id="Q3-B" value={{.Eb3}}>
                    <label for="Q3-B">B) {{.Mb3}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q3" id="Q3-C" value={{.Ec3}}>
                    <label for="Q3-C">B) {{.Mc3}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q3" id="Q3-D" value={{.Ed3}}>
                    <label for="Q3-D">D) {{.Md3}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q4m}}</legend>
                <div>
                    <input type="radio" name="Q4" id="Q4-A" value={{.Ea4}}>
                    <label for="Q4-A">A) {{.Ma4}}  </label>
                </div>
                
                <div>
                    <input type="radio" name="Q4" id="Q4-B" value={{.Eb4}}>
                    <label for="Q4-B">B) {{.Mb4}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q4" id="Q4-C" value={{.Ec4}}>
                    <label for="Q4-C">C) {{.Mc4}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q4" id="Q4-D" value={{.Ed4}}>
                    <label for="Q4-D">D) {{.Md4}} </label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q5m}}</legend>
                <div>
                    <input type="radio" name="Q5" id="Q5-A" value={{.Ea5}}>
                    <label for="Q5-A">A) {{.Ma5}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q5" id="Q5-B" value={{.Eb5}}>
                    <label for="Q5-B">B) {{.Mb5}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q5" id="Q5-C" value={{.Ec5}}>
                    <label for="Q5-C">C) {{.Mc5}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q5" id="Q5-D" value={{.Ed5}}>
                    <label for="Q5-D">D) {{.Md5}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q6m}}</legend>
                <div>
                    <input type="radio" name="Q6" id="Q6-A" value={{.Ea6}}>
                    <label for="Q6-A">A) {{.Ma6}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q6" id="Q6-B" value={{.Eb6}}>
                    <label for="Q6-B">B) {{.Mb6}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q6" id="Q6-C" value={{.Ec6}}>
                    <label for="Q6-C">C) {{.Mc6}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q6" id="Q6-D" value={{.Ed6}}>
                    <label for="Q6-D">D) {{.Md6}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q7m}}</legend>
                <div>
                    <input type="radio" name="Q7" id="Q7-A" value={{.Ea7}}>
                    <label for="Q7-A">A) {{.Ma7}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q7" id="Q7-B" value={{.Eb7}}>
                    <label for="Q7-B">B) {{.Mb7}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q7" id="Q7-C" value={{.Ec7}}>
                    <label for="Q7-C">C) {{.Mc7}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q7" id="Q7-D" value={{.Ed7}}>
                    <label for="Q7-D">D) {{.Md7}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q8m}}</legend>
                <div>
                    <input type="radio" name="Q8" id="Q8-A" value={{.Ea8}}>
                    <label for="Q8-A">A) {{.Ma8}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q8" id="Q8-B" value={{.Eb8}}>
                    <label for="Q8-B">B) {{.Mb8}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q8" id="Q8-C" value={{.Ec8}}>
                    <label for="Q8-C">C) {{.Mc8}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q8" id="Q8-D" value={{.Ed8}}>
                    <label for="Q8-D">D) {{.Md8}}</label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q9m}}</legend>
                <div>
                    <input type="radio" name="Q9" id="Q9-A" value={{.Ea9}}>
                    <label for="Q9-A">A) {{.Ma9}}  </label>
                </div>
                
                <div>
                    <input type="radio" name="Q9" id="Q9-B" value={{.Eb9}}>
                    <label for="Q9-B">B) {{.Mb9}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q9" id="Q9-C" value={{.Ec9}}>
                    <label for="Q9-C">C) {{.Mc9}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q9" id="Q9-D" value={{.Ed9}}>
                    <label for="Q9-D">D) {{.Md9}}  </label>
    
                </div>
            </fieldset>
            <br>
            <fieldset><legend style="margin-top: 5px; font-size:18px">{{.Q10m}}</legend>
                <div>
                    <input type="radio" name="Q10" id="Q10-A" value={{.Ea10}}>
                    <label for="Q10-A">A) {{.Ma10}} </label>
                </div>
                
                <div>
                    <input type="radio" name="Q10" id="Q10-B" value={{.Eb10}}>
                    <label for="Q10-B">B) {{.Mb10}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q10" id="Q10-C" value={{.Ec10}}>
                    <label for="Q10-C">C) {{.Mc10}}</label>
                </div>
                
                <div>
                    <input type="radio" name="Q10" id="Q10-D" value={{.Ed10}}>
                    <label for="Q10-D">D) {{.Md10}}</label>
    
                </div>
            </fieldset>
		<br>
        <input type="submit" name="Submit" value="submit";>
        </form>
    </div>
    </body>
</html>