<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Quiz IPC Ebenezar Kalyan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background:linear-gradient(to left,   
#5aecff 50%,
#d9e1e6 0%,
#b1e1f1 50%,
#33ccff 100%); padding-left: 10%; padding-top: 8%;">
<!--<div class="jumbotron">Test Case 01</div>-->
<h1>Bible Quiz</h1>
<form action="/next" method="post">
<div style="padding-left: 2%;">
        <main><br><br>
            Firstname:<input type="text" name="Firstname"><br><br>
            Lastname:<input type="text" name="Lastname"><br><br>
            Please select a language of your choice<br><br>
            <input type="radio" name="Language" id="language-A" value="English" />
            <label for="language-A">English</label><br>
            <input type="radio" name="Language" id="language-B" value="Malayalam" />
            <label for="language-B">Malayalam</label><br>
            <input type="submit" value="Next">
        </main>
    <div>
        {{.}}
    </div>
</div>
</form>
<footer style=position:fixed;bottom:0;left:10%;right:0;height:30px;>
    quiz created by Bijoy Kunnappillil     
</footer>
</body>
</html>