<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
    </head>
    <body style="background:linear-gradient(to left,   
    #5aecff 50%,
    #d9e1e6 0%,
    #b1e1f1 50%,
    #33ccff 100%); padding-left: 5%;">
        <h1>
    Thank you for your participation in the Bible Quiz
    </h1>
        <br>
        <p>
            Hello {{.Firstname}} {{.Lastname}}
        </p>
        <p>You have scored a total of {{.Score}} points. We will see you soon with more interesting questions</p>
        <footer>
            <form action="/viewTopScorers" method="post">
                <legend style="margin-top: 5px; font-size:15px">View Top Scorers</legend>
                <input type="submit" name="Submit" value="View";>
        </footer>
        </form>
    </body>
</html>