<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
    </head>
    <body style="background:linear-gradient(to left,   
    #5aecff 50%,
    #d9e1e6 0%,
    #b1e1f1 50%,
    #33ccff 100%); padding-left: 5%;">
        <h1>
    Thank you for your participation in the Bible Quiz
    </h1>
        <br>
        <p>
            Hello {{.Firstname}} {{.Lastname}}
        </p>
        <p>You have scored a total of {{.Score}} points. We will see you again tomorrow with more interesting questions</p>
        <form action="/viewCorrectAnswers" method="post">
            <legend style="margin-top: 5px; font-size:15px">Click <b>here</b> to view the correct answers</legend>
            <input type="submit" name="Submit" value="here";>
        </form><br><br></br></br>
        <div class="wrapper" style="font-size: small";>
            <form action="/viewTopScorers" method="post">
                <legend style="margin-top: 5px; font-size:15px"><b><i>View Top Scorers</i></b></legend>
                <input type="submit" name="Submit" value="view";>
            </form>
        </div>
        <footer style=position:fixed;bottom:0;left:5%;right:0;height:30px;>
           quiz created by Bijoy Kunnappillil     
    </footer>
    </body>
</html>