<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    </head>
    <body>
        <h1>
    Thank you for your participation in the Bible Quiz
    </h1>
        <br>
        <p style="margin-top: 5px; font-size:18px">
            Hello {{.Name.Firstname}} {{.Name.Lastname}}
        </p>
        <p>You have scored a total of {{.Score1}} points. We will see you again tomorrow with more interesting questions</p>
        <footer>
            <form action="/viewTopScorers" method="post">
                <legend style="margin-top: 5px; font-size:15px">View Top Scorers</legend>
                <input type="submit" name="Submit" value="View";>
        </footer>
        </form>
    </body>
</html>